.cocktails {
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cocktail {
    max-width: 15.83%;
    margin-right: 1%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}
.cocktail:nth-child(6n) {
    margin-right: 0;
}
.cocktail-img {
    overflow: hidden;
}
.cocktail-img img {
    width: 100%;
    vertical-align: top;
    transform: scale(1);
    transition: transform ease .4s;
}
.cocktail-img img:hover {
    transform: scale(1.2);
    transition: transform ease .4s;
}

.cocktail-details {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #c2c2c2;
    min-height: 150px;
    border-top: 0;
}

.cocktail-details h2{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    color: #000000;
}

.cocktail-details h3 {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    color: #202124;
    margin-top: 5px;
}

.cocktail-details p {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    color: #70757a;
    margin-top: 5px;
}

.cocktail-details p span {
    font-weight: 700;
    color: #000000;
}


.error-massage {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 30px;
}